---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <h1><span class="text-gradient">Mogy's Portfolio</span></h1>
    <p class="instructions">
      Astroという新しいフレームワークを使って作成したポートフォリオです。
    </p>
    <ul role="list" class="link-card-grid">
      <Card href="/profile" title="Profile" body="Mogyの経歴・趣味などを紹介" />
      <Card
        href="/skills"
        title="Skills"
        body="言語やツール使用に関する実績を記載"
      />
      <Card
        href="/products"
        title="Products"
        body="制作したサイトやアプリを記載"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    gap: 1rem;
    padding: 0;
  }
</style>
